{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
{% endblock extra_css %}
{% block content %}
<h1>Add your Job Experience</h1>
<p>If you have none go ahead and click save job</p>
    <form method="post">
        {% csrf_token %}
        <!--School form handler-->
        <button type='button' hx-get="{% url 'create-job-form' %}" hx-target='#jobForm', hx-swap='beforeend'>Add Job</button>
        
        <div id='jobForm'></div>

    </form>
    <a href="{% url 'create-skill' person.id %}">Add Skills</a>
{% endblock content %}
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock footer %}