{% extends 'base.html' %} {% load static %} {% block extra_css %}
<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
{% endblock extra_css %} {% block content %}
<h1>Build a Free Resume</h1>

<div class="aligner">
  <p class="intro">
    Welcome to PyResume. This is a website that is designed to take the basics
    for a resume and generate a pdf for you. Access it from anywhere and create
    a resume right there for you. Gone are the days where you create a resume
    online and are expected to create an account or pay for your resume. Here
    it's free and there is no watermark. What you put in is what you put out.
    Currently, the app is very simple and generates a basic PDF. In the future
    there will be more resume designs to choose from.
  </p>
  <div class='button-holder'>
    <a href="{% url 'person' %}" class="btn btn-primary start-btn"
      >Let's get Started</a
    >
  </div>
</div>
{% endblock content %} {% block footer %} {% include 'partials/footer.html' %}
{% endblock footer %}
