{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/resume-styles.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="top-box"></div>
<div class="person-box">
    
    <h1 class='name'>{{person.first_name}} {{person.last_name}}</h1>
        <div class="info-sec">
            <p>A: {{person.street}} {{person.city}}, {{person.state}} {{person.zipCode}} | P: {{person.phone}} | E: {{person.email}}</p>
        </div>
    </div>

    <div class="school-section">
        <div class='title'><p>Education</p></div>
        {% for e in education %}
        <ul class='schools'>
                <li>{{e.school_name}} | {{e.city}}, {{e.state}} | {{e.year_start}}-{{e.year_graduated}}</li>
                <li>Major: {{e.major}}</li>
            </ul>
        {% endfor %}

    </div>

    <div class="text-center">
        <div class="title"><p>Experience</p></div>
        {% for j in jobs %}
        <ul class='experience'>
                <li>{{j.job_title}}</li>
                <li>{{j.employer}}</li>
                <li>{{j.year_started}}-{{j.year_end}}</li>
                <li>{{j.job_description}}</li>
            </ul>
                {% endfor %}
    </div>

    <div class="text-center">
        <div class="title"><p>Skills</p></div>
        <ul class='skills'>
            {% for s in skills %}
                <span>{{s.skill_name}}</span>
            {% endfor %}
        </ul>
    </div>

    <div class="text-center">
        <div class="title"><p>Certificates</p></div>
        <ul class='certs'>
            {% for c in certs %}
                <li>{{c.cert_name}}</li>
                <li>{{c.cert_url}}</li>
                <li>{{c.cert_author}}</li>
                <li>{{c.year_awarded}}-{{c.year_expired}}</li>
            {% endfor %}
        </ul>

    </div>

</div>
{% endblock content %}